extends layout

block content
  h1= title
  
  ul
    each game in game_list
      li 
        a(href=game.url) #{game.title} 
        |  (#{game.gamestudio.name})

    else
      li There are no games.

  ul(class='add') 
    a(href='/catalog/game/create') Add new game  

block footer
  img(class="displayed" src="https://mve.tn/wp-content/uploads/2018/05/3-steps-to-faster-steam-downloads-featured-image-1050x600.jpg", alt="poster is not here yet!")
   
