extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group(class='input')
      label(for='name') Platform:
      input#name.form-control(type='text', placeholder='PC, PS4...' name='name' value=(undefined===platform ? '' : platform.name))
    button.btn.btn-primary(type='submit' class='add') Submit

  if errors 
   ul
    for error in errors
     li!= error.msg
