extends layout

block content

  h1 Platform: #{platform.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Games
    
    dl
      each game in platform_games
        dt 
          a(href=game.url) #{game.title}
        dd #{game.summary}

      else
        p This platform has no games